* {
    color: white;
    font-family: Arial;
    text-align: center;
    justify-content: center;
}
body {
    background-color: rgb(33, 33, 33);
}
button {
    background-color: rgb(50, 50, 50);
    width: 35%;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-right: 5px;
}
button:hover {
    border-color: blueviolet;
}